@import url('https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,100..800;1,100..800&display=swap');
.bannerSection {
    height: 400px;
    background-image: url('https://images.pexels.com/photos/1378849/pexels-photo-1378849.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bannerText{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    font-family: "Glory", serif;

}

.bannerText > h1 {
    font-size: 58px;
    margin-bottom: 10px;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.bannerText > p {
    max-width: 490px;
    font-size: 24px;
    margin: 0 0 40px 0;
    text-align: center;
}

/* Search */

.bannerSearch > input {
    height: 50px;
    width: 600px;
    border-radius: 8px;
    border: 2px solid red;
    padding: 0 10px;
    font-size: 20px;
}