.navTop {
    display: flex;
    justify-content: space-around;
    background-color: var(--white);
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px 0;
}

.navLogo {
    width: 100px;
}

.navLogo > img {
    width: 100%;
}

.navLinks{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
}

.navLinks > a {
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
    font-weight: 600;
    transition: 0.5s
}
.navLinks > a:hover {
    color: var(--primary);
}

.navButtons {
    display: flex;
    gap: 15px;
}

/* Nav Bottom */
.navBottom{
    background-color: var(--primary);
    color: var(--white);
    padding: 5px;
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    align-items: center;
}

.navBottomLinks{
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
}
.navBottomLinks > select {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 0;
}
.navSelect > option {
    color: var(--white);
    background-color: var(--primary);
}
