.searchListContainer{
    background-color: #faf4f0;
    padding: 20px;
    display: flex;
    gap: 50px;
}
.filters{
    width: fit-content;
    height: fit-content;
    padding: 25px;
    border-radius: 20px;
    background-color: white;
}

.filters > h2 {
    margin: 0 0 20px 0;
    font-size: 40px;
}

.filtersContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filterGroup {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.filterGroup > label {
    font-size: 20px;
    font-weight: 400;
}

.filterGroup select,
.sortBy select {
    width: 245px;
    height: 40px;
    background-color: #F4F4F4;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    font-size: 17px;
    appearance: none; /* Remove default arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='22' height='22' fill='orange'><path d='M7 10l5 5 5-5H7z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 22px; /* Increase size */
    cursor: pointer;
}

/* Fix for Firefox */
.filterGroup select::-ms-expand,
.sortBy select::-ms-expand {
    display: none;
}



/* LISTING SIDE */
/* .listingSide {
} */
.sortBy{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sortBy > span {
    color: orange;
}

.formSearch {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
    margin-left: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    padding-right: 10px;
    gap: 5px;
}

.formSearch > input {
    background-color: transparent;
    border: none;
    padding: 10px;
}

.petsListing{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px 20px 20px 0px;
}

/* For screens below 950px */
@media (max-width: 950px) {
    .searchListContainer {
        flex-wrap: wrap;
    }
    .listingSide > h1{
        text-align: center;
        margin: 0;
    }
    .sortBy {
        align-items: center;
    }

    .filters{
        width: fit-content;
        padding: 10px;
        border-radius: 20px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        padding-bottom: 25px;
    }
    .filtersContainer {
        display: flex;
        gap: 10px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .petsListing {
        justify-content: center;
        padding-left: 20px;
    }
}
/* For screens below 480px */
@media (max-width: 480px) {
    .filterGroup select,
    .sortBy select {
        width: 150px;
        height: 30px;
    }
    .filterGroup > label {
        font-size: 15px;
    }
}
