.messageList {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    max-height: 300px;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
  }
  
  .messageItem {
    background: #f3f3f3;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: left;
    width: fit-content;
    max-width: 300px;
  }
  
  .messageItemSender {
    background: #e07816;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: left;
    align-self: flex-end;
    max-width: 300px;
  }
  
  .noMessages {
    font-size: 18px;
    color: #777;
  }
  
  .messagesSection{
    flex: 3;
  }
  .msgInput {
    background-color: #f2f8fc;
    width: 300px;
    height: 35px;
    border-radius: 20px;
    padding: 0 10px;
    font-size: 17px;
  }
  .sendMsgBtn{
    background: #e07816;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    border: none;
  }