.SuccessStories{
    padding-bottom: 50px;
}
.storyContainer {
    display: flex;
    gap: 50px;
    padding: 0 40px;
}
.storyImage{
    min-width: 300px;
    height: 250px;
}
.storyImage > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Styling for arrow icons */
.scrollIcons {
    display: flex;
    justify-content: end;
    gap: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.arrowIcon {
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.2s;
}

.arrowIcon:hover {
    transform: scale(1.2); /* Enlarge the arrow on hover */
}

@media (max-width: 700px) {
    .storyContainer{
        flex-wrap: wrap;
    }
}