body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  --primary:#e07816;
  --white:rgb(255, 255, 255);
  --black:rgb(0, 0, 0);
}

.primary-btn {
  background-color: var(--primary);
  color: var(--white);
  border: 1px solid transparent;
  font-size: 20px;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
}
.secondary-btn {
  background-color: var(--white);
  color: var(--primary);
  border: 1px solid var(--primary);
  font-size: 20px;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
}

.primary-btn,.secondary-btn {
  cursor: pointer;
  transition: 0.5s;
}

.secondary-btn:hover {
  background-color: var(--primary);
  color: var(--white);
}
.primary-btn:hover {
  background-color: var(--white);
  color: var(--primary);
  border: 1px solid var(--primary);
}

/* ARROW ICON */
.arrow-icon{
  border: 1px solid #E17716;
  padding: 10px;
  border-radius: 100%;
  font-size: 25px;
  cursor: pointer;
  transition: 0.5s;
}
.arrow-icon:hover {
  background-color: #E17716;
  color: white;
}