.petFormContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.showFormBtn {
  padding: 10px 20px;
  background-color: #3787ff;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 5px;
}

.showFormBtn:hover {
  background-color: #2d78e9;
}

.petForm {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  background: #ffd2674f;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 50px;
  }
  
 .petForm > h2 {
    text-align: center;
    margin-bottom: 20px;
    color: orange;
  }
  
  .petFormInputsContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .inputRow {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .inputRow label {
    flex: 1;
    font-weight: bold;
  }
  
  .inputRow input,
  .inputRow select,
  .inputRow textarea {
    flex: 2;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
 .petForm textarea {
    resize: none;
    height: 60px;
  }
  
  .buttonContainer {
    text-align: center;
    margin-top: 15px;
  }
  
 .petForm button:hover {
    transform: scale(1.05);
  }
  